* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(gambar/bgbudaya.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.judul {
  text-align: center;
  margin: 30px;
  color: white;
  font-size: 25px;
}
.judul h2 {
  padding: 30px;
  margin: 20px;
}
.kuliner {
  background-color: white;
  width: 1000px;
  height: 700px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.kuliner-items img {
  width: 300px;
  height: 259px;
  float: left;
  margin: auto 20px;
}
.kuliner h3 {
  margin: 20px auto;
  padding-left: 20px;
  font-size: 25px;
}
.galeri video{
  width: 300px;
  height: 259px;
  margin: auto 25px;
  padding-top: 50px;
}
.galeri img{
  width: 300px;
  height: 259px;
  margin: auto 25px;
  padding-top: 50px;

}
.galeri{
  display: flex;
  justify-content: space-between;
}
.clear {
  clear: both;
}