* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
.destinasi {
  background-image: url(gambar/konservasi\ penyu\ ampiang\ parak.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}
.destinasi .destinasi-list {
  background-color: rgba(255, 255, 255, 0.9);
  width: 85%;
  margin: auto;
  padding: 20px;
}
.destinasi-list h2{
  text-align: center;
  font-size: 28px;
  padding-bottom: 20px;
}
.destinasi-name{
    padding: 20px;
}
.destinasi-name img {
  float: left;
  width: 250x;
  height: 200px;
  margin-right: 20px;
  object-fit: cover;
}
.destinasi-items{
  padding-left: 15px;
}
.info ul{
  padding-left: 10px;
}
.clear{
  clear: both;
}
