*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.header{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.nav li{
    list-style: none;
    display: inline-block;
    margin: auto 20px;
}
.nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.kuliner{
    background-color: white;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.kuliner-items img{
    width: 300px;
    height: 259px;
    float: left;
    margin:auto 20px;
}