* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h2 {
  font-family: "playfair display", serif;
}
/* navigasi */
.container {
  width: 90%;
  padding: 0 15px;
}
header {
  background-color: rgb(94, 137, 176);
  padding: 5px;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 10px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo:hover {
  color: yellow;
}
.container nav ul {
  display: flex;
  list-style: none;
}
.container nav ul li {
  margin-left: 20px;
}
.container nav ul li a {
  color: black;
  text-decoration: none;
}
.container nav ul li a:hover {
  color: yellow;
}

/* halaman judul */
.judul {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(gambar/ad4f1f63487929774d718eec9635fefe.jpg);
  background-size: cover;
  background-position: center;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin: 10px;
  background-repeat: no-repeat;
}
.judul-section {
  color: white;
}
.judul-section h2 {
  font-size: 56px;
}
.judul-section p {
  font-size: 24px;
  margin-top: 10px;
}
/* text pengantar */
.pengantar-section {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}
.pengantar {
  margin-top: 20px;
}
.pengantar article {
  text-align: justify;
  margin: 15px;
  padding: 10px;
  line-height: 1.6;
}

/* destinasi */
.hero-section {
  background-color: rgb(239, 242, 245);
  border-radius: 20px;
  margin: 10px;
}
.hero-section .destinasi h2 {
  text-align: center;
  padding: 20px;
  font-size: 40px;
}
.destinasi-list {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding-bottom: 30px;
}
.destinasi-list .destinasi-items img {
  width: 350px;
  height: 350px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.destinasi-items {
  background-color: white;
  max-width: 350px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.destinasi-items:hover {
  transform: scale(1.1);
}
.destinasi-items .text {
  padding: 10px;
}
.tombol {
  text-align: center;
}
button {
  background-color: rgb(94, 137, 176);
  color: white;
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
button:hover {
  background-color: yellow;
  color: rgb(94, 137, 176);
}

/* footer */
footer {
  background-color: rgb(94, 137, 176);
  font-size: 18px;
  margin: 20px 10px;
  padding: 10px;
  border-radius: 20px;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.footer .tentang-kami {
  text-align: justify;
  width: 33%;
}
footer h2 {
  margin-bottom: 20px;
}
footer .tautan-cepat ul {
  list-style: none;
}
footer .tautan-cepat ul li a {
  text-decoration: none;
  color: black;
  line-height: 1.6;
  margin-left: 9px;
}
footer .tautan-cepat ul li a:hover {
  color: yellow;
}
footer .kontak-list a {
  text-decoration: none;
  color: black;
}
footer .kontak-list a:hover {
  color: yellow;
}
 .container{
  text-align: center;
  margin: 20px;
}